{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<!-- ---------------------------------- -->

<div class="d-flex flex-wrap px-4 pt-4 align-items-center">
    <div class="d-flex col-md-6 p-3">
        <img src="{{ data.img.url }}" alt="{{data.name}}" class="w-100 img-fluid">
    </div>
    <div class="col-md-6 p-3">
        <div class="card-body">
            <h1 class="card-title mb-3"><b>{{data.name}}</b></h1>
            <h3 class="card-title"><b>Brand:</b> {{data.brand}}</h3><br>
            <h4 class="card-title"><b>${{data.price}}</b></h4><br>
            <h4 class="card-title"><b>Quantity :</b> {{data.quantity}}</h4><br>
            <h4><b>Description : </b><span class="fs-5">{{data.Description}}</span></h4>
            <hr>
            {% if request.user.is_authenticated %}
            <div class="d-flex align-items-center">
                <form action="" method="post">
                    {% csrf_token %}
                    <button class="btn btn-warning mt-3" name="buy_now" type="submit"><strong>Buy Now</strong></button>
                </form>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<!-- ---------------------------------- -->

<div class="card m-4 p-3 mt-4">
    <h4 class="p-3 bg-dark text-light"><b>Total Comment :</b> {{comments | length}}</h4>
    <hr>
    <div class="card-body">
        {% for comment in comments %}
        <div class="border border-3 rounded p-3 m-2 bg-dark text-light">
            <p class="d-flex gap-4"><b>{{comment.name}} </b> <small> {{comment.time}}</small></p>
            <h5>{{comment.body}}</h5>
        </div>
        {% endfor %}
    </div>
</div>

<!-- ---------------------------------- -->

<div style="width: 490px; min-height: 70vh;" class="card m-auto p-3 mt-3 mb-4 bg-dark text-light">
    <div class="card-body" style="width: 400px;">
        <form action="" method="post" style="width: 420px;">
            {% csrf_token %}
            {{comment_form | crispy}}

            <div class="d-flex justify-content-center mt-4">
                <button class="btn btn-success" type="submit">Submit</button>

            </div>
        </form>
    </div>
</div>

<!-- ---------------------------------- -->

{% endblock content %}