{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}


<h1 class="text-center mt-3 mb-4">Change Your Password</h1>

<div style="width: 500px; margin: auto;">
    <form action="" method="post" class="form-control p-3">
        {% csrf_token %}
        <!-- {{form | crispy}} -->
        {% for fm in form %}
        <div class="mb-3">
            <label for="{{ fm.id_for_label }}" class="form-label">{{ fm.label }}</label>
            {{ fm }}
            {% if fm.errors %}
            <div class="text-danger small">
                {{ fm.errors }}
            </div>
            {% endif %}
        </div>
        {% endfor %}

        <div class="d-flex justify-content-center mt-3">
            <button class="btn btn-warning px-4 py-2 rounded-pill shadow-sm" type="submit">Change password</button>
        </div>
    </form>
</div>

{% endblock content %}